@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+25&display=swap');
html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
  font-family: "Jersey 10", sans-serif;

}
.wrapper {
    width: 1200px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

/*
* menu
*/
nav {
    background-color: #9929EA;
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}

.menu {
    width: 50%;
}

.menu > ul {  
display: flex;
list-style-type: none;
margin: 0px;
padding: 0px;
justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

.logo{
    display: flex;
    align-items: center;
}
.logo > img {
    height: 45px;
}

/*
* hero / jumbotron
*/

header {
    background-image: url(./3167072.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Jersey 25", sans-serif;
    letter-spacing: 5px;
    text-shadow: 0 0 4px #000;

}
.header-opacity {
    background-color: #9929EA;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   position: absolute;
   top: 0;
   left: 0;
}
.header-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.header-jumbotron > h4 {
    color: aqua;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;

}
.header-jumbotron > h5 {
    color: azure;
    margin: 0px;
    padding: 5px;
    font-size: 3rem;
    line-height: 4rem;
    text-transform: uppercase;
}

.header-jumbotron > p {
    padding: 5px;
    margin: 0px 5px 20px 5px;
    color: white;
}
a {
    text-decoration: none;
    color: rgba(240, 1, 200, 0.973);
    text-shadow: none;
}

.button {
    background-color: aqua ;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
     font-family: "Jersey 25", sans-serif;
}
.button-xl {
    font-size: 1.4rem;
    padding: 20px;
}

/*
* statistic
*/
#statistic {
    background-color: #CC66DA;
    color: #fff;
     font-family: "Jersey 25", sans-serif;
}

#statistic > .wrapper {
    padding: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;

}
#statistic > .wrapper > div {
    text-align: center;
}

#statistic > .wrapper > div > p {
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;
}

#statistic > .wrapper > div > p > i {
    margin-right: 10px;
     font-size: 3.5rem;
}
#statistic > .wrapper > div > small {
    font-size: 1.5rem;
}

/*
* premium course
*/
 #premium-course {
     background-color: #9929EA;
     color: #fff;
 }

 #premium-course > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 0 0 4px black;
    margin: 0px;
    padding: 0px;

 }
  #premium-course > .wrapper > h4 > span {
    color: aqua;
  }

  #premium-course > .wrapper > p {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
  }

  .grid > .item {
    border: 1px solid #666;
     background-color: #CC66DA;
     border-radius: 5px;
     position: relative;
  }
  .grid > .item > img {
    width: 15%;
    position: absolute;
    top: 10px;
    right: 10px;
  }

    .grid > .item > .item-detail {
        padding: 30px;
        font-size: 1.3rem;
        font-weight: bold;
        width: 70%;   
        text-shadow: 0 0 4px #000;
    }  
     .grid > .item > .item-detail > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
     }

     .grid > .item > .item-detail > div > small {
        color: white;
        font-size: 1rem;
        font-style: italic;
        font-weight: normal;
     }

.grid > .item > .item-detail > div > a {
    font-size: 1rem;
    color: #333;
    font-weight: normal;
}